.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}

.footer-item h2,
.footer-item h3 {
  color: #fff;
}

.footer-item p {
  color: #ccc;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons .icon {
  color: #fff; /* Set icon color to white */
  font-size: 24px; /* Increase icon size for better visibility */
}

.payment-icons {
  display: flex;
  gap: 10px;
}

.payment-icons .icon {
  color: #ccc; /* Set icon color to lighter gray */
  font-size: 24px; /* Increase icon size for better visibility */
}
